<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean class="com.study.practice.spring.SmartLifecycleImpl"/>
    <bean class="com.study.practice.spring.Bean1" init-method="init"/>
    <bean class="com.study.practice.spring.Bean2" init-method="init"/>
    <bean class="com.study.practice.spring.BeanPostPrcessorImpl"/>

</beans>